:root {
    --accent1-color: #fefefe;
    /*#264653; dark slate blue-cor de destaque ???????*/
    --accent2-color: #575454;
    --accent3-color: #ffd900;
    --accent4-color: #222121;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent2-color);
}

header,
main,
footer {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 160px;
    height: auto;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: #000000;
    padding: 30px;
    text-decoration: none;
    font-size: 1rem;
}

.navigation a:hover {
    color: #229a9a;
    text-decoration: underline;
}

h1,
h2 {
    font-size: 1.8rem;
    font-family: var(--heading-font);
    font-weight: 500;
    width: 100%;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: var(--accent1-color);
}

.title-main {
    background-color: var(--accent2-color);
    color: #ffffff;
}

.hero {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-weight: 500;
    /* color: #f2f2ef; */
    /* opacity: 0.5; */
}

.hero article {
    position: absolute;
    bottom: 0.1px;
    width: 96%;
    text-align: justify;
    padding: 10px;
    background-color: #27252599;
    color: #F8F9FA;
    transform: translateX(-.1%);
    box-sizing: border-box;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 10px;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}

.hero p {
    line-height: 1.6;
    padding: 8px;
}

nav,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
    width: 40px;
}

footer {
    border-top: 1px solid #cccccc;
    /*linha*/
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 10px;
    color: var(--accent2-color);
    /* text-align: center;     */
    font-size: 0.8rem;
}

footer p {
    justify-self: center;
}

.socialmedia {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.socialmedia img {
    width: 20px;
    height: auto;
}

.team {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 20px;
    align-items: center;
}

.team h2 {
    grid-column: 1 / 5;
}

.first {
    grid-column: 1 / 2;
    /* grid-row: 2 / 3; */
    padding-left: 40px;
    text-align: left;

}

.team img {
    grid-column: 2 / 3;
    /* grid-row: 2 / 3; */
    width: 300px;
    height: auto;
    justify-self: center;
    align-self: center;

}

.second {
    grid-column: 3 / 4;
    /* grid-row: 2 / 3; */

}

.awaits {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-items: center;
}

.awaits h2 {
    grid-column: 1 / -1;
}

.awaits img {
    width: 100%;
    height: auto;
    /* padding-top: 10px */
}

.awaits figcaption {
    /* margin-top: 5px;  */
    text-align: center;
}

/* ***Contact Us***  */

.address h1,
.awaits-contact-title {
    background-color: var(--accent4-color);
    color: #ffffff;
    padding: 8px;
}

.strong-group {
    display: block;
    margin: 16px;
    justify-items: center;
}

.contact {
    display: flex;
    gap: 50px;
    align-items: stretch;
    /* margin-top: -28px; */
}

.contact iframe,
.contact .box {
    flex: 1;
    /* width: 15%;
    height: 350px; */
}

.contact iframe {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px #45424233;
    border: 1px solid #ded7d7;
    /* padding: 10px; */
}

.box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-title {
    background-color: transparent;
    color: black;
    text-align: center;
    margin-top: -25px;
}

.information-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -8px;
}

.information-group label {
    width: 100px;
    padding: 2px;
}

.information-group input {
    flex: 1;
}

.purpose-row {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: start;
}

.select-group {
    display: flex;
    flex-direction: column;
}

.textarea-group textarea {
    width: 100%;
}

button {
    display: block;
    width: 50%;
    margin: 1rem auto;
    background-color: var(--accent3-color);
    color: #1e1e1e;
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    font-size: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
}

button:hover {
    background-color: #c9ad00;
}

.awaits-contact {
    padding-bottom: 10px;
}

.awaits-contact fieldset {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
    background-color: #ebe5e5;
    padding-bottom: 10px;
}

.awaits-contact fieldset h2 {
    grid-column: 1/-1;
}

.awaits-contact figcaption {
    text-align: center;
}

.awaits-contact figure {
    width: 100%;
    max-width: 250px;
    box-shadow: 0 4px 8px #00000033;
    border-radius: 10px;
    padding: 7px;
    background-color: #f9f9f7;
}

.awaits-contact img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    /*corta a proporcionalmente sem deformar*/
    /* padding-top: 10px */
}

/* ***Index***  */
.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(45, 43, 43, 0.6)
}

.subscribe p {
    text-align: center;
    font-size: 20px;
    margin-top: 3px;
}

.information-group-index {
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
    align-items: center;
    gap: 25px;
}

.field {
    display: flex;
    flex-direction: row;
    gap: 10px;
    /*alinhamento interno*/
}

.field input {
    padding: 6px 15px;
    border-radius: 4px;
    border: none;
}

.button-subscribe {
    padding: 8px 10px;
    background-color: rgb(238, 235, 235);
}

.purpose {
    display: grid;
    gap: 40px;
}

.purpose-figure {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
}

.purpose-figure img {
    width: 100%;
    height: auto;
    display: block;
}

.purpose-figure h3 {
    text-align: center;
    margin: 15px;
}

.purpose-figure p {
    line-height: 1.6;
}

/* ***Trips***  */

.title-trip a {
    text-decoration: none;
    color: white;
}

.btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 200px;
    background-color: var(--accent3-color);
    color: #1e1e1e;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1rem;
    /* font-weight: bold; */
    /* margin-left: auto; */
    /* margin-right: -5px; */
    /* margin-bottom: auto; */
    /* margin-top: -50px; */
    margin: -60px 680px;

}

.btn:hover {
    background-color: #c9ad00;
}

main .awaits-group {
    margin-top: -150px;
}

.awaits-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
    padding-bottom: 20px;
    text-align: center;
}

.awaits-card {
    width: 100%;
    height: auto;
    /* max-width: 250px; */
    box-shadow: 0 5px 15px #00000033;
    border-radius: 10px;
    padding: 20px;
    background-color: #ebebeb;
    border: 1px solid #cfcdcd;
    letter-spacing: 1.6px;
}

.awaits-card img {
    max-width: 100%;
    display: block;
    border-radius: 10px;
}

.awaits-card h3 {
    margin: 10px;
}

/*Table*/

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin: auto;
    margin-bottom: 50px;

}

th,
td {
    border: 1px solid rgb(150 150 150);
    padding: 8px 12px;
    text-align: center;
}

thead tr {
    background-color: #F8F27C;
    /* background-color: var(--accent3-color); */
}

/* .color {
    background-color: var(--accent3-color);
} */

.title {
    font-size: 23px;
    margin: 3px auto 10px;
    text-align: center;
    line-height: 1.6;
}

.subtitle {
    font-size: 15px;
    margin: 3px 240px 20px;
    text-align: center;
    line-height: 1.6;
}