:root {
    --primary-color: #233225; /*?-cor principal*/
    --accent1-color: #fefefe; /*#264653; dark slate blue-cor de destaque ???????*/
    --accent2-color: #858585;  
    --accent3-color: #FFD700;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
    /* --accent2-color: #272525;  */
    /* --accent2-color: #867f7f; */
    /*backgroun color gainsboro	and foreground(text) darkslategrey*/
    
}

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body{
    /* display: block; */
    font-family: var(--body-font);
    color: var(--accent2-color);
} 

header, main, footer {
    width: 840px; 
    margin: 0 auto;
}

header {
    /* background-color: var(--primary-color);
    color: black; */
    display: flex;
    align-items: center;
    justify-content: flex-start; /*logo a esquerda, menu ao lado */
    padding: 20px;
    gap: 50px;
    /* opacity: 0.9; */
}

header img {
    max-width: 100%;
    height: auto;
    float: left;
    margin: 1px;
}

nav ul {
    display: flex;
    list-style: none; /*tira bolinhas*/
    gap: 30px;
}

nav ul li a {
    color: #171717;
    text-decoration: none; /*tira o link*/
    margin-left: 40px;

}

h1 h2 {
    font-family: var(--heading-font);   
}

h2{
    color: var(--accent2-color);
}

h1 {
    position: absolute;
}

h1, h2 {
    top: 20px;
    width: 100%; 
    padding: 16px;
    text-align: center;
    opacity: 0.7; 
    background-color: var(--accent2-color);
    /* color: #fff; */
    color: var(--accent1-color);
}

.title-main{
    background-color: var(--accent2-color);
    color: #fff;
}

.hero {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    /* color: var(--accent3-color); */
    color: #ffff00;
}

.hero article { 
    position: absolute;
    bottom: 0.1px;
    width: 96%;
    text-align: justify;
    padding: 10px;
    background-color: rgba(39, 37, 37, 0.6);
    color: #fff;
    transform: translateX(-.1%);
    box-sizing: border-box;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    /* object-fit: cover;- faz imagem preencher o container....mas não funcionou pq o heigh está como auto como solicita a atividade=) */
}

.hero article img { 
    float: right;
    width: 125px;
    margin-left: 10px; 
    margin-bottom: 20px;
    position: relative; 
    z-index: 2;
}

nav, section, article { 
    margin: 16px;
    padding: 8px;
}

.socialmedia a { 
    text-decoration: none;
    width: 40px;
}

footer {
    border-top: 1px solid #ccc; /*linha*/
    /* position: fixed;
    bottom: 0; */
    color: var(--accent2-color);
    text-align: center;    
    font-size: 0.8rem; 
    
}

p { 
    margin: 0;
    padding: 0;
}

.socialmedia{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.socialmedia img{
    width: 30px;
    height: 30px;
    object-fit: contain;
}



