:root{ 
    --heading-background-color:#1d1da5f3;
    --primary-background-color: #e9e8ea;
    --heading-text-color: #ffffff;
    --primary-text-color: #271257;
    --secondary-text-color: #1d1b1b;
    --heading-font: 'Montserrat', Helvetica, sans-serif; 
    /* --body-font: 'Open Sans', sans-serif; */
    --body-font: Roboto, Arial, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgba(124, 44, 227, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body { 
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: var(--body-font);
    padding-top: 100px;
}

main{
    max-width: 860px;
   
    padding-top: 10px;
}

nav { 
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 70px;
    background-color: var(--heading-background-color); 
    /* padding: 10px; */
    z-index: 100;
    display: flex;
   
    justify-content: center;
}

nav a{
    color: var(--heading-text-color);
    display: block;
    padding: 20px; 
    font-size: 22px;
    text-decoration: none;
}

h1 {
    color: var(--primary-text-color);
    font-family: var(--heading-font);
}

main img {
    width: 150px; 
    height: auto;
    border: var(--border);
    padding: 2px; 
    box-shadow: 0 0 30px gray; 
    float: right;
    margin: 0 0 1rem 1rem
}

p { 
    margin: 1rem;
    position: relative; /*relative positioning*/
    top: 10px;
}

aside{
    width: 15rem;
    margin: .5rem;
    /* text-align: center; */
    position: relative;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: .5rem;
    background-color: var(--primary-background-color);
    color: var(--secondary-text-color);
}

aside img{
    width: 200px;
    height: auto;
    display: block;
}

aside h2{
    position: absolute;
    top: 0.1px;
    left: 86px;
    /* transform: translateX(-50%); */
}

footer{
    margin-top: 15px; 
    text-align: center;
    border-top: 1px solid #000; 
}

/* Class Selectors */
.box{ 
    margin:1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #eee;
    color:#000;
}

.indent {
    padding-left: 2rem;
}






