* {
    box-sizing: border-box; 
    text-align: center;
}

main{
    max-width: 840px;
    text-align: center;
}

nav { 
    background-color: darkblue; 
    padding: 10px;
}

nav a{
    color: white;
    display: block;
    padding: 20px; 
}

h1 {
    color: darkblue
}

main img {
    width: 150px; 
    height: auto;
    border: 1px solid black;
    padding: 2px; 
    box-shadow: 0 0 30px gray; 
}

p { 
    padding: 0;
}

aside{
    width: 52rem;
    margin: .5rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: .5rem;
    background-color: #e9e8ea;
    color: #333333;
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
}

footer{
    margin-top: 15px; 
    text-align: center;
    border-top: 1px solid #000; 
}






