:root{ 
    --heading-background-color:rgb(16, 74, 121);
    --primary-background-color: #e9e8ea;
    --heading-text-color: #fff;
    --primary-text-color: #271257;
    --secondary-text-color: #1d1b1b;
    --heading-font: 'Montserrat', Helvetica, sans-serif; 
    /* --body-font: 'Open Sans', sans-serif; */
    --body-font: Roboto, Arial, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgba(124, 44, 227, 0.1);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

header, .grid, footer { 
    max-width: 840px; 
    margin: 0 auto;
}

nav { 
    background-color: var(--heading-background-color); 
    padding: 1rem;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem; 
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700; 
    color: var(--heading-text-color);
}

main { 
    max-width: 640px;
    grid-column: 2/3;
    margin: 1rem 0;
}

body { 
    /* display: flex; */
    /* flex-direction: column; */
    font-size: 16px;
    font-family: var(--body-font);
    /* padding-top: 100px; */
}

/* main{
   
    padding-top: 10px;
} */

h1 {
    color: var(--primary-text-color);
    font-family: var(--heading-font);
    border-bottom: 3px solid #222;
}

main img {
    width: 150px; 
    height: auto;
    border: var(--border);
    padding: 2px; 
    box-shadow: 0 0 30px gray; 
    float: right;
    margin: 1rem 0 1rem 1rem;
}

p { 
    padding: 1rem 0;
    /* margin: 1rem;
    position: relative; /*relative positioning*/
    /* top: 10px; */
}

aside{
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2; 
    border: 1px solid rgb(0 0 0 / 0.2);
}

aside img{
    width: 100%;
    height: auto;
    display: block;
}

aside h2{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 1rem;
}

footer{
    background-color: var(--heading-background-color);
    color: #fff;
    /* margin: 2rem auto;   */
    margin-top: 1rem; 
    margin-bottom: .1rem;
    padding: .2rem .2rem;
    text-align: center;
    border-top: 1px solid #000; 
}

ul {
    list-style: none;
    padding: 1rem 0;
}

/* Class Selectors */
.box{ 
    margin: .1rem;
    border: 1px solid #5b7ee61a;
    padding: 1rem;
    background-color: #eee;
    color:#000;
}

.indent {
    padding-left: 2rem;
}

.grid { 
    display: grid;
    align-items: center;
    gap: 2rem;
}





