* {
    box-sizing: border-box; 
}

body{
    font-family: Arial, sans-serif;
    line-height: 1.6
}

img{
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px #333;
}

header, main, footer{
    max-width: 800px;
    margin: 0 auto;
}

header{
    background-color: #3e3e3e;
    color: white;
    padding:.25em; 
    text-align: center;
    font-size: 1.5rem;
}

main{
    width: 400px; 
    margin: 0 auto; 
}

h1{
    margin: 10px;
    text-align: center;
}

h2{
    border-bottom: 1px solid #222;
}

section{
    margin: 2em 0;
    background-color:#dddddd;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    font-size: .9rem;
}

section h2{
    text-align: left; 
    border-bottom: solid #000 1px;
}

footer{
    background-color: #333333;
    padding: 1em;
    text-align: center;
    color: #fff;
}